<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd" 
	>

    <sec:http pattern="/admin/**" create-session="never">
        <sec:http-basic entry-point-ref="restAuthenticationEntryPoint"/>
        <sec:intercept-url pattern="/**" access="ROLE_USER"/>
    </sec:http>
    <sec:http pattern="/action/user" create-session="never">
        <sec:http-basic entry-point-ref="restAuthenticationEntryPoint"/>
        <sec:intercept-url pattern="/**" access="ROLE_USER"/>
    </sec:http>
    <sec:http pattern="/**" security="none"/>

    <bean id="restAuthenticationEntryPoint" class="com.lazypeople.web.auth.RestAuthenticationEntryPoint"/>
	
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
				<value>application/x-www-form-urlencoded</value>
			</list>
		</property>
	</bean>
    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="t" password="t" authorities="ROLE_USER, ROLE_ADMIN"/>
                <sec:user name="admin" password="123456" authorities="ROLE_USER"/>
                <sec:user name="a" password="a" authorities="ROLE_USER"/>
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>    
		<!-- 拦截器 -->
	<mvc:annotation-driven />
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<mvc:interceptors>
	  	<!-- 配置Token拦截器，防止用户重复提交数据 -->
	  	<bean class="com.lazypeople.interceptor.TokenInterceptor"/>
	</mvc:interceptors>
</beans>